@import "../variables.scss";

$font-family: 'Lobster', cursive;

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.login_box {
  width: 50vh;
  box-shadow: 2px 2px 5px black;
}

.login_input {
  width: 40vh;
}

.login_button:hover {
  background-color: $secondary;
  border-color: $secondary;
}

.login_button {
  transition: 0.3s;
}

.logo {
  text-shadow: 3px 3px black;
}