@import "../variables.scss";

.main {
  display: flex;
  min-height: 100vh;
}

.post_button:hover {
  background-color: $secondary;
  border-color: $secondary;
  box-shadow: 0px 6px 6px 2px $primary;
}

.post_button {
  transition: 0.3s;
  box-shadow: 0px 4px 4px 2px gray;
}

.card {
  transition: 0.3s
}

.card:hover {
  box-shadow: 2px 4px 4px 1px gray;
  // cursor: pointer;
}